<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Kotlin Journal{% endblock %}</title>
</head>

<body style="text-align: center; font-family: sans-serif">
<img src="/static/ktor_logo.png">
<h1>Kotlin Ktor Journal</h1>
<p><i>Powered by Ktor & Pebble!</i></p>
<hr>
{% block content %}{% endblock %}
<a href="/">Back to the main page</a>
<div id="footer">
    {% block footer %}
    Copyright 2024
    {% endblock %}
</div>
</body>
</html>