{% extends "_layout.html" %}

{% block title %} Edit {% endblock %}

{% block content %}
<div>
    <h3>Edit article</h3>
    <form action="/articles/{{article.id}}" method="post">
        <p>
            <input type="text" name="title" value="{{article.title}}">
        </p>
        <p>
            <textarea name="body">{{article.body}}</textarea>
        </p>
        <p>
            <input type="submit" name="_action" value="update">
        </p>
    </form>
</div>
<div>
    <form action="/articles/{{article.id}}" method="post">
        <p>
            <input type="submit" name="_action" value="delete">
        </p>
    </form>
</div>
{% endblock %}