{% extends "_layout.html" %}

{% block title %} Kotlin Journal {% endblock %}

{% block content %}
{% for article in articles %}
<div>
    <h3>
        <a href="/articles/{{ article.id }}">{{ article.title }}</a>
    </h3>
    <p>
        {{article.body}}
    </p>
</div>
{% endfor %}
<hr>
<p>
    <a href="/articles/new">Create article</a>
</p>
{% endblock %}