{% extends "_layout.html" %}

{% block title %} Show {% endblock %}

{% block content %}
<div>
    <h3>
        {{article.title}}
    </h3>
    <p>
        {{article.body}}
    </p>
    <hr>
    <p>
        <a href="/articles/{{article.id}}/edit">Edit article</a>
    </p>
</div>
{% endblock %}